.App {
    font-family: 'Courier New', Courier, monospace;
    max-width: 600px;
    margin: 0px auto;
    padding: 0px;

    .todo-list-title {
        text-align: center;
    }

    .todo-list-default {
        font-weight: bold;
        text-align: center;
        margin: 24px 0px;
    }

    .todo-list {
        list-style-type: none;
        padding: 0px;

        li {
            margin: 12px 0px;
        }
    }
}